
version: '2.1'
services:
  sonar:
    image: home1oss/proxy:1.10.2-alpine
    restart: always
    command: ["nginx", "-g", "daemon off;"]
    container_name: ${SERVER_NAME:-sonar.local}
    hostname: ${SERVER_NAME:-sonar.local}
    ports:
    - "80/tcp"
    environment:
    - BACKEND_HOST=${BACKEND_HOST:-sonarqube.local}
    - BACKEND_PORT=${BACKEND_PORT:-9000}
    - SERVER_NAME=${SERVER_NAME:-sonar.local}

networks:
  default:
    external:
      name: oss-network
