
version: '2.1'
services:
  nexus:
    image: home1oss/docker-proxy:1.10.2-alpine
    restart: always
    command: ["nginx", "-g", "daemon off;"]
    container_name: ${SERVER_NAME:-nexus.local}
    hostname: ${SERVER_NAME:-nexus.local}
    ports:
    - "80/tcp"
    environment:
    #- BACKEND_PROTOCOL=${BACKEND_PROTOCOL:-http}
    # nexus3
    - BACKEND_HOST=${BACKEND_HOST:-nexus3.local}
    - BACKEND_PORT=${BACKEND_PORT:-28081}
    - SERVER_NAME=${SERVER_NAME:-nexus.local}
    # fileserver
    #- BACKEND_HOST=${BACKEND_HOST:-nexus3.local}
    #- BACKEND_PORT=${BACKEND_PORT:-28081}
    #- SERVER_LOCATION=${SERVER_LOCATION:-~ ^/(.*)}
    #- SERVER_NAME=${SERVER_NAME:-fileserver.local}
    #- SERVER_PROXY_PASS_CONTEXT=${SERVER_PROXY_PASS_CONTEXT:-/nexus/repository/files/$1}
    # mirror.docker
    #- BACKEND_HOST=${BACKEND_HOST:-nexus3.local}
    #- BACKEND_PORT=${BACKEND_PORT:-5001}
    #- BASIC_AUTH_PASS=${BASIC_AUTH_PASS:-deployment}
    #- BASIC_AUTH_USER=${BASIC_AUTH_USER:-deployment}
    #- SERVER_NAME=${SERVER_NAME:-mirror.docker.local}
    # registry.docker
    #- BACKEND_HOST=${BACKEND_HOST:-nexus3.local}
    #- BACKEND_PORT=${BACKEND_PORT:-5000}
    #- BASIC_AUTH_PASS=${BASIC_AUTH_PASS:-deployment}
    #- BASIC_AUTH_USER=${BASIC_AUTH_USER:-deployment}
    #- SERVER_NAME=${SERVER_NAME:-registry.docker.local}

networks:
  default:
    external:
      name: oss-network
